# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#app config
CORS="http://localhost:9150"
PORT=3000
SECRET_KEY="your_secret_key"

#database
DATABASE_USERNAME=root.env
DATABASE_PASSWORD=root
DATABASE_HOST=your_host
DATABASE_PORT=3307
DATABASE_NAME="your_database_name"

DATABASE_URL="mysql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"